
<div class="row">
    <div class="column">
        <table  class="table table-striped">

            <caption>Today's Patients</caption>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Time</th>
                    <th>Patient File</th>
                    <th>Profile</th>
                    <th>Remove</th>
                </tr>
                <tr *ngFor="let item of todayPatients">
                    <td>{{item.PatientName | shortName}}</td>
                    <td>{{item.PhoneNumber}}</td>
                    <td>{{item.VisitTime | date:'shortTime'}}</td>
                    <td>
                        <a style="color: orange; cursor: pointer; ">
                            <span (click)="openPatientFilePopup(item)" class="glyphicon glyphicon-folder-open"></span>
                        </a>
                    </td>

                    <td align="center">
                        <a style="color: black; cursor: pointer;">
                            <span (click)="openUserProfilePopup(item)" class="glyphicon glyphicon-user"></span>
                        </a>
                    </td>

                    <td style="text-align:center">
                        <a style="color: red; cursor: pointer; text-align:center">
                            <span (click)="deleteAppointment(item.VisitId)" class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot style="color:green">Total:{{todayPatients.length}}</tfoot>
        </table>
    </div>
    <div style="text-align:center;font-size:large" class="row" class="column">
        <p>The Current Patient Now is : <strong>{{fullVisitInfo.Name}}&nbsp;</strong></p>
        <p style="color: rgb(19, 216, 52);">Phone Number is : <strong>{{fullVisitInfo.PhoneNumber}}&nbsp;</strong></p>
        <p style="color: rgb(19, 25, 216); ">at : {{fullVisitInfo.Time | date:'shortTime'}}&nbsp;</p>
        <p style="color: rgb(216, 19, 19);">Remaining Cost: {{fullVisitInfo.RemainingCost}} JD</p>
        <p style="color: rgb(193, 216, 19);">Last Visit Was :  {{fullVisitInfo.LastVisit | date:'fullDate'}} </p>
        <p>
            <a (click)="getCurrentPatientDetails()" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </a>
        </p>
    </div>
</div>


<div >
    <table class="table table-striped">
        <caption>Tomorrow's Patients</caption>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Time</th>
                <th>PatientFile</th>
                <th>Profile</th>
                <th>Remove</th>
            </tr>
            <tr *ngFor="let item of tommorowPatients">
                <td>{{item.PatientName | shortName}}</td>
                <td>{{item.PhoneNumber}}</td>
                <td>{{item.VisitTime | date:'shortTime'}}</td>
                <td>
                    <a style="color: orange; cursor: pointer; ">
                        <span (click)="openPatientFilePopup(item)" class="glyphicon glyphicon-folder-open"></span>
                    </a>
                </td>

                <td align="center">
                    <a style="color: black; cursor: pointer;">
                        <span (click)="openUserProfilePopup(item)" class="glyphicon glyphicon-user"></span>
                    </a>
                </td>

                <td style="text-align:center">
                    <a style="color: red; cursor: pointer; text-align:center">
                        <span (click)="deleteAppointment(item.VisitId)" class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot style="color:green">Total:{{tommorowPatients.length}}</tfoot>
    </table>
</div>


