@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Jordan Amman<br />
    <abbr title="Phone">Phone:</abbr>
   +962785039401
</address>

<address>
    <strong>Email:</strong>   <a href="Anas_Jayyusi@outook.com">Anas_Jayyusi@outook.com</a><br />
</address>